---
# role: {{ role_name }}
# file: molecule/all/molecule.yml

dependency:
  name: galaxy
driver:
  name: docker
lint: |
  set -e
  yamllint .
  ansible-lint
  flake8
platforms:
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-alpine311
    image: "jam82/molecule-alpine:3.11"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-alpine
    image: "jam82/molecule-alpine:latest"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-amazonlinux
    image: "jam82/molecule-amazonlinux:latest"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-arch
    image: "jam82/molecule-arch:latest"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-centos6
    image: "jam82/molecule-centos:6"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-centos7
    image: "jam82/molecule-centos:7"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-centos8
    image: "jam82/molecule-centos:8"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-debian9
    image: "jam82/molecule-debian:9"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-debian10
    image: "jam82/molecule-debian:10"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-debian
    image: "jam82/molecule-debian:latest"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-opensuse15
    image: "jam82/molecule-opensuse:15"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-opensuse
    image: "jam82/molecule-opensuse:latest"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-opensuse-tumbleweed
    image: "jam82/molecule-opensuse:tumbleweed"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-oraclelinux6
    image: "jam82/molecule-oraclelinux:6"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-oraclelinux7
    image: "jam82/molecule-oraclelinux:7"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-oraclelinux8
    image: "jam82/molecule-oraclelinux:8"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-oraclelinux
    image: "jam82/molecule-oraclelinux:latest"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-ubuntu1604
    image: "jam82/molecule-ubuntu:16.04"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-ubuntu1804
    image: "jam82/molecule-ubuntu:18.04"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-ubuntu
    image: "jam82/molecule-ubuntu:latest"
    pre_build_image: True
    privileged: True
    tmpfs:
      - /tmp
      - /run
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
provisioner:
  name: ansible
  log: True
  playbooks:
    prepare: ../resources/playbooks/prepare.yml
    converge: ../resources/playbooks/converge.yml
  inventory:
    group_vars:
      all:
        {{ role_name | replace('ansible-role-', '') | replace('-','_') }}_enabled: True
verifier:
  name: testinfra
  env:
    PYTHONWARNINGS: "ignore"
  directory: ../resources/tests
  options:
    v: True
    sudo: True
{{ blank_line }}