# {{ role_name }}

Ansible role for setting up {{ role_name|replace('ansible-role-', '') }}.

## Supported Platforms

* Archlinux
* CentOs 8
* Ubuntu 18.04

## Requirements

Ansible 2.7 or higher is recommended.

## Variables

Variables and defaults for this role:

| variable | default value in defaults/main.yml | description |
| -------- | ---------------------------------- | ----------- |
| {{ role_name | replace('ansible-role-', '') | replace('-','_') }}_enabled | False | determine whether role is enabled (True) or not (False) |

## Dependencies

None.

## Example Playbook

```yaml
---
# role: {{ role_name }}
# file: site.yml

- hosts: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}_systems
  become: True
  vars:
    {{ role_name | replace('ansible-role-', '') | replace('-','_') }}_enabled: True
  roles:
    - role: {{ role_name }}
```

## License and Author

* Author:: Jonas Mauer (<jam@kabelmail.net>)
* Copyright:: 2019, Jonas Mauer

Licensed under MIT License;
See LICENSE file in repository.

## References

[ArchWiki](https://wiki.archlinux.org/)
{{ blank_line }}