# {{ role_name }}

![GitHub](https://img.shields.io/github/license/jam82/{{ role_name }}) [![Build Status](https://travis-ci.org/jam82/{{ role_name }}.svg?branch=main)](https://travis-ci.org/jam82/{{ role_name }})

**Ansible role for setting up {{ role_name|replace('ansible-role-', '') }}.**

## Supported Platforms

- Alpine
- Archlinux
- CentOS
- Debian
- Fedora
- OpenSuse Leap, Tumbleweed
- OracleLinux
- Ubuntu

## Requirements

Ansible 2.9 or higher.

## Variables

Variables and defaults for this role.

### defaults/main.yml

```yaml
{{ role_name | replace('ansible-role-', '') | replace('-','_') }}_role_enabled: false
```

## Dependencies

None.

## Example Playbook

```yaml
---
# role: {{ role_name }}
# file: site.yml

- hosts: all
  become: true
  gather_facts: true
  vars:
    {{ role_name | replace('ansible-role-', '') | replace('-','_') }}_role_enabled: true
  roles:
    - role: {{ role_name }}
```

## License and Author

- Author:: [jam82](https://github.com/jam82/)
- Copyright:: 2021, [jam82](https://github.com/jam82/)

Licensed under [MIT License](https://opensource.org/licenses/MIT).
See [LICENSE](https://github.com/jam82/{{ role_name }}/blob/master/LICENSE) file in repository.

## References

- [ArchWiki](https://wiki.archlinux.org/)
