[tox]
minversion = 3.23
envlist = py{39}-ansible-{d1,d2,d3}
skipsdist = true

[testenv]
deps =
    d1: ansible==2.9.*
    d2: ansible==2.10.*
    d3: ansible-core==2.11.*
    -rrequirements.txt
commands =
    molecule test -s tox
setenv =
    TOX_ENVNAME={envname}-{env:uns:jam82}-{env:img:debian}-{env:tag:latest}
    MOLECULE_EPHEMERAL_DIRECTORY=/tmp/.molecule/{{ role_name }}/{env:TOX_ENVNAME}
    ANSIBLE_FORCE_COLOR=1
    PY_COLORS=1

passenv = uns img tag
