---
# role: {{ role_name }}
# file: tasks/main.yml

- name: "Tasks for {{ role_name }}"
  block:
{% raw %}
    - name: "Set os_family dependent variables"
      include_vars: '{{ ansible_os_family }}.yml'

    - name: "Set distribution dependent variables"
      include_vars: "{{ item }}"
      vars:
        params:
          files:
            - '{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml'
            - '{{ ansible_distribution }}.yml'
            - '{{ ansible_os_family }}-{{ ansible_distribution_major_version }}.yml'
          paths:
            - 'vars'
          skip: true
      loop: "{{ query('first_found', params, errors='ignore') }}"

    - name: "Install packages for {% endraw %}{{ role_name }}{% raw %}"
      package:
        name: "{{ {% endraw %}{{ role_name | replace('ansible-role-', '') | replace('-','_') }}{% raw %}_packages }}"
        state: present
{% endraw %}
  when: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}_role_enabled | bool
