---
# role: jomrr.{{ role_name }}
# file: tasks/main.yml

{% raw %}
- name: "Set os_family specific variables"
  ansible.builtin.include_vars: '{{ ansible_os_family }}.yml'

- name: "Set distribution specific variables"
  ansible.builtin.include_vars: "{{ item }}"
  vars:
    params:
      files:
        - '{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml'
        - '{{ ansible_distribution }}.yml'
        - '{{ ansible_os_family }}-{{ ansible_distribution_major_version }}.yml'
      paths:
        - 'vars'
      skip: true
  loop: "{{ query('first_found', params, errors='ignore') }}"

- name: "Install packages for {% endraw %}{{ role_name }}{% raw %}"
  ansible.builtin.package:
    name: "{{ {% endraw %}{{ role_name }}{% raw %}_packages }}"
    state: present
{% endraw %}

- name: "Configure {{ role_name }}"
  ansible.builtin.template:
    src: "template.conf.j2"
    dest: "/etc/{{ role_name }}/{{ role_name }}.conf"
    owner: root
    group: root
    mode: 0644
  notify: "{{ role_name }} service"

- name: "Set {{ role_name }} service state"
  ansible.builtin.service:
    name: "{% raw %}{{ {% endraw %}{{ role_name }}{% raw %}_service_name }}{% endraw %}"
    state: "{% raw %}{{ {% endraw %}{{ role_name }}{% raw %}_service.state | default(restarted) }}{% endraw %}"
    enabled: "{% raw %}{{ {% endraw %}{{ role_name }}{% raw %}_service.enabled | default(true) }}{% endraw %}"
