---
# role: jomrr.{{ role_name }}
# file: meta/main.yml

galaxy_info:
  role_name: {{ role_name }}

galaxy_info:
  namespace: jomrr
  role_name: {{ role_name }}
  author: 'Jonas Mauer'
  company: ''
  description: "Ansible role for setting up {{ role_name }}."
  license: MIT
  issue_tracker_url: "https://github.com/jomrr/ansible-role-{{ role_name }}/issues"
  min_ansible_version: "2.17"
galaxy_tags: []
