---
# role: {{ role_name }}
# file: meta/main.yml

galaxy_info:
  role_name: {{ role_name|replace('ansible-role-', '') }}
  author: jam82
  description: Ansible role for setting up {{ role_name|replace('ansible-role-', '') }}.
  company: ''

  # If the issue tracker for your role is not on github, uncomment the
  # next line and provide a value
  issue_tracker_url: https://github.com/jam82/{{ role_name }}/issues

  license: MIT

  min_ansible_version: 2.9

  # If this a Container Enabled role, provide the minimum Ansible Container version.
  # min_ansible_container_version:

  github_branch: master

  # platforms is a list of platforms, and each platform has a name and a list of versions.
  #
  platforms:
    - name: Alpine
      versions:
        - any
    - name: Amazon
      versions:
        - any
    - name: ArchLinux
      versions:
        - any
    - name: Debian
      versions:
        - buster
        - bullseye
    - name: EL
      versions:
        - "7"
        - "8"
    - name: Fedora
      versions:
        - any
    - name: opensuse
      versions:
        - "15.0"
        - "15.1"
        - "15.2"
    - name: Ubuntu
      versions:
        - bionic
        - focal

  galaxy_tags: []

  dependencies:
    - src: https://github.com/jam82/ansible-role-baseline.git
      name: common
      version: master
