---
# role: jomrr.{{ role_name }}
# file: meta/main.yml

galaxy_info:
  role_name: {{ role_name | replace('ansible-role-', '') }}

galaxy_info:
  namespace: jomrr
  role_name: {{ role_name | replace('ansible-role-', '') }}
  author: 'Jonas Mauer'
  company: ''
  description: "Ansible role for setting up {{ role_name | replace('ansible-role-', '') }}."
  license: MIT
  issue_tracker_url: "https://github.com/jomrr/{{ role_name }}/issues"
  min_ansible_version: "2.17"
galaxy_tags: []
