---
# role: jomrr.{{ role_name }}
# file: molecule/default/molecule.yml

dependency:
  name: galaxy
  options:
    requirements-file: requirements.yml
driver:
  name: podman
lint: set -e; ansible-lint
platforms:
  - name: "{{ role_name }}"
    image: "docker.io/${uns:-${nsp:-jomrr}/molecule-${img:-fedora}:${tag:-latest}"
    pre_build_image: true
    entrypoint: null
    command: null
    systemd: true
provisioner:
  name: ansible
  log: true
  playbooks:
    prepare: ../resources/playbooks/prepare.yml
    converge: ../resources/playbooks/converge.yml
    verify: ../resources/playbooks/verify.yml
verifier:
  name: ansible
