---
# role: {{ role_name }}
# file: molecule/vbox/molecule.yml

dependency:
  name: galaxy
  options:
    role-file: requirements.yml
driver:
  name: vagrant
  provider:
    name: virtualbox
    type: virtualbox
lint: |
  set -e
  yamllint .
  ansible-lint
platforms:
  - name: {{ role_name | replace('ansible-role-', '') }}-alpine
    box: "generic/alpine312"
    cpus: 2
    memory: 1024
  - name: {{ role_name | replace('ansible-role-', '') }}-amazon
    box: "bento/amazonlinux-2"
    cpus: 2
    memory: 1024
  - name: {{ role_name | replace('ansible-role-', '') }}-arch
    box: "archlinux/archlinux"
    cpus: 2
    memory: 1024
  - name: {{ role_name | replace('ansible-role-', '') }}-centos
    box: "centos/8"
    cpus: 2
    memory: 1024
  - name: {{ role_name | replace('ansible-role-', '') }}-debian
    box: "debian/bullseye64"
    cpus: 2
    memory: 1024
  - name: {{ role_name | replace('ansible-role-', '') }}-fedora
    box: "fedora/33-cloud-base"
    cpus: 2
    memory: 1024
  - name: {{ role_name | replace('ansible-role-', '') }}-opensuse
    box: "generic/opensuse15"
    cpus: 2
    memory: 1024
  - name: {{ role_name | replace('ansible-role-', '') }}-oracle
    box: "generic/oracle8"
    cpus: 2
    memory: 1024
  - name: {{ role_name | replace('ansible-role-', '') }}-ubuntu
    box: "ubuntu/focal64"
    cpus: 2
    memory: 1024
provisioner:
  name: ansible
  log: true
  playbooks:
    prepare: ../resources/playbooks/prepare.yml
    converge: ../resources/playbooks/converge.yml
    verify: ../resources/playbooks/verify.yml
  inventory:
    group_vars:
      all:
        {{ role_name | replace('ansible-role-', '') | replace('-','_') }}_role_enabled: true
verifier:
  name: ansible
