---
# role: {{ role_name }}
# file: molecule/vbox/prepare.yml

- name: Prepare
  hosts: all
  become: True
  gather_facts: False
  tasks:
    - name: Install python for Ansible (apk)
      raw: apk add --no-cache python3
      changed_when: False
      ignore_errors: True
    - name: Install python for Ansible (apt)
      raw: apt-get -y update && apt-get install -y python3 python3-apt
      changed_when: False
      ignore_errors: True
    - name: Install python for Ansible (dnf)
      raw: dnf -y update && dnf -y install python3
      changed_when: False
      ignore_errors: True
    - name: Install python for Ansible (pacman)
      raw: pacman -Sy && pacman --noconfirm -S python3
      changed_when: False
      ignore_errors: True
    - name: Install python for Ansible (yum)
      raw: yum -y update && yum -y install python3
      changed_when: False
      ignore_errors: True
    - name: Install python for Ansible (zypper)
      raw: zypper -n update && zypper -n install python-xml python3 python3-xml
      changed_when: False
      ignore_errors: True

- name: Include Playbook for OS specific tasks
  import_playbook: build.yml
{{ blank_line }}