---
# role: {{ role_name }}
# file: molecule/kvm/molecule.yml

dependency:
  name: galaxy
  options:
    role-file: requirements.yml
driver:
  name: vagrant
  provider:
    name: libvirt
    type: libvirt
    options:
      memory: 2048
      cpus: 2
lint: |
  set -e
  yamllint .
  ansible-lint
  flake8
platforms:
  - name: {{ role_name | replace('ansible-role-', '') }}-arch
    box: "archlinux/archlinux"
  - name: {{ role_name | replace('ansible-role-', '') }}-centos
    box: "centos/8"
  - name: {{ role_name | replace('ansible-role-', '') }}-debian
    box: "debian/bullseye64"
  - name: {{ role_name | replace('ansible-role-', '') }}-fedora
    box: "fedora/33-cloud-base"
  - name: {{ role_name | replace('ansible-role-', '') }}-opensuse
    box: "generic/opensuse15"
  - name: {{ role_name | replace('ansible-role-', '') }}-oracle
    box: "generic/oracle8"
  - name: {{ role_name | replace('ansible-role-', '') }}-ubuntu
    box: "generic/ubuntu2004"
provisioner:
  name: ansible
  log: true
  playbooks:
    prepare: ../resources/playbooks/prepare.yml
    converge: ../resources/playbooks/converge.yml
    verify: ../resources/playbooks/verify.yml
  inventory:
    group_vars:
      all:
        {{ role_name | replace('ansible-role-', '') | replace('-','_') }}_role_enabled: true
verifier:
  name: testinfra
  env:
    PYTHONWARNINGS: "ignore"
  directory: ../resources/tests
  options:
    v: true
    sudo: true
