---
# role: {{ role_name }}
# file: molecule/kvm/molecule.yml

dependency:
  name: galaxy
driver:
  name: vagrant
  provider:
    name: libvirt
    type: libvirt
    options:
      memory: 1024
      cpus: 1
lint:
  name: yamllint
  options:
    config-file: molecule/shared/yamllint.yml
platforms:
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-arch
    box: "archlinux/archlinux"
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-centos8
    box: "centos/8"
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-debian10
    box: "debian/buster64"
  - name: {{ role_name | replace('ansible-role-', '') | replace('-','_') }}-ubuntu1804
    box: "generic/ubuntu1804"
provisioner:
  name: ansible
  log: True
  lint:
    name: ansible-lint
  playbooks:
    prepare: ../shared/prepare.yml
    converge: ../shared/playbook.yml
  inventory:
    group_vars:
      all:
        {{ role_name | replace('ansible-role-', 'role_') | replace('-','_') }}_enabled: True
scenario:
  name: kvm
verifier:
  name: testinfra
  env:
    PYTHONWARNINGS: "ignore"
  directory: ../tests
  options:
    v: True
    sudo: True
  lint:
    name: flake8
{{ blank_line }}