---
# role: jomrr.{{ role_name }}
# file: molecule/kvm/molecule.yml

dependency:
  name: galaxy
  options:
    requirements-file: requirements.yml
driver:
  name: vagrant
  provider:
    name: libvirt
    type: libvirt
lint: set -e; ansible-lint
platforms:
  - name: almalinux-{{ role_name | replace('ansible-role-', '') }}
    box: "generic/almalinux9"
    memory: 2048
    cpus: 2
  - name: arch-{{ role_name | replace('ansible-role-', '') }}
    box: "archlinux/archlinux"
    memory: 2048
    cpus: 2
  - name: debian-{{ role_name | replace('ansible-role-', '') }}
    box: "debian/bookworm64"
    memory: 2048
    cpus: 2
  - name: fedora-{{ role_name | replace('ansible-role-', '') }}
    box: "fedora/40-cloud-base"
    memory: 4096
    cpus: 2
  - name: opensuse-{{ role_name | replace('ansible-role-', '') }}
    box: "generic/opensuse15"
    memory: 2048
    cpus: 2
  - name: oracle-{{ role_name | replace('ansible-role-', '') }}
    box: "generic/oracle9"
    memory: 2048
    cpus: 2
  - name: ubuntu-{{ role_name | replace('ansible-role-', '') }}
    box: "generic/ubuntu2404"
    memory: 2048
    cpus: 2
provisioner:
  name: ansible
  log: true
  playbooks:
    prepare: ../resources/playbooks/prepare.yml
    converge: ../resources/playbooks/converge.yml
    verify: ../resources/playbooks/verify.yml
verifier:
  name: ansible
