---
# role: {{ role_name }}
# file: molecule/resources/playbooks/converge.yml

- name: Converge
  hosts: all
  become: true
  vars:
    baseline_role_enabled: false
    {{ role_name | replace('ansible-role-', '') }}_role_enabled: true
  roles: # to enable required roles put them in requirements.yml and add here
    # - baseline
    - role: '../{{ role_name }}'
