---
# role: {{ role_name }}
# file: molecule/resources/playbooks/converge.yml

- name: Converge
  hosts: all
  become: true
  vars:
    baseline_role_enabled: false
    {{ role_name | replace('ansible-role-', '') }}_role_enabled: true
  roles:
    - role: {% raw %}"{{ lookup('env', 'MOLECULE_PROJECT_DIRECTORY') }}"{% endraw %}
