---
# role: {{ role_name }}
# file: molecule/resources/playbooks/vars.yml

common_role_enabled: True
{{ role_name | replace('ansible-role-', '') | replace('-','_') }}_role_enabled: True
{{ blank_line }}