---
# role: jomrr.{{ role_name }}
# file: molecule/resources/playbooks/verify.yml

- name: "PLAYBOOK | Verify | {{ role_name | replace('ansible-role-', '') }}"
  hosts: all
  gather_facts: false
  tasks:
    - name: "Assertions"
      assert:
        that: true
