---
# role: {{ role_name }}
# file: molecule/tox/molecule.yml

dependency:
  name: galaxy
  options:
    requirements-file: requirements.yml
driver:
  name: docker
lint: |
  set -e
  yamllint .
  ansible-lint
platforms:
  - name: {{ role_name | replace('ansible-role-', '') }}-${TOX_ENVNAME:-"default"}
    image: ${MOLECULE_IMG:-"jam82/molecule-debian:latest"}
    command: ${MOLECULE_IMG_CMD:-""}
    pre_build_image: true
    privileged: false
    tmpfs:
      - /tmp
      - /run
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
provisioner:
  name: ansible
  log: true
  playbooks:
    prepare: ../resources/playbooks/prepare.yml
    converge: ../resources/playbooks/converge.yml
    verify: ../resources/playbooks/verify.yml
  inventory:
    group_vars:
      all:
        {{ role_name | replace('ansible-role-', '') | replace('-','_') }}_role_enabled: true
verifier:
  name: ansible
